<h2>Carritos</h2>
<hr>
<a href="/products">Productos</a>

<ul>


</ul>

{{!-- <div id="cart">carrito</div> --}}

<div class="row" id="divCarts">



    <script src="/js/carts.js"></script>