<h2>Productos paginados </h2>
<hr>
<a href="/carts">Carritos</a>


<ul>


</ul>

{{!-- <div id="cart">carrito</div> --}}

<div class="row" id="divProducts">



    <script src="/js/products.js"></script>